@model List<Kaempfer>
@{
    ViewData["Title"] = "Kaempfer Übersicht";
}

<h1>Das sind die Kaempfer</h1> 

<a href="/Kaempfer/New" class="btn btn-success">Neuen Kamepfer erstellen</a>

<table>     
    <thead>
    <tr>
        <th>ID</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Herkunft</th>
        <th>Alter</th>
        <th>Geschlecht</th>
        <th>Gewicht</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var kaempfer in Model)
        {

            <tr>
                <td>@(kaempfer.kaempferId)</td>
                <td>@(kaempfer.vorname)</td>
                <td>@(kaempfer.nachname)</td>
                <td>@(kaempfer.herkunft)</td>
                <td>@(kaempfer.alter)</td>
                <td>@(kaempfer.geschlecht)</td>
                <td>@(kaempfer.gewicht)</td>
                <td>
                    <a href="/Kaempfer/Edit?"> Edit</a>
                    Delete
                </td>


            </tr>

        }
    }    
</table>
    





   